
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BoardLayout.cshtml";
}

<h2>Index</h2>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <h2>About Board Games</h2>
        <br />
        <p>Where did it start? Click below to find out.</p>
        <p>@Html.ActionLink("History", "BHistory", "BoardGaming") </p>
    </div>
    <div class="col-md-3">
        <h2>Types of Games</h2>
        <br />
        <p>If somehow you don't know by now, EDUCATE YOURSELF!!! Click below</p>
        <p>@Html.ActionLink("Where did it start", "BTypes", "BoardGaming")</p>
    </div>
    <div class="col-md-3">
        <h2>Games</h2>
        <br />
        <p>Here's a list of Coffee Shops, just because. Click below</p>
        <p>@Html.ActionLink("Games", "BGames", "BoardGaming")</p>
    </div>
    <div class="col-md-3">
        <h2>Games</h2>
        <br />
        <p>Here's a list of Coffee Shops, just because. Click below</p>
        <p>@Html.ActionLink("DandDProfile", "DandDProfile", "BoardGaming")</p>
    </div>
</div>
