
@{
    ViewBag.Title = "Bungie";
}

<h2>Bungie</h2>
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-9">
        <h4>Established</h4>
        <p>May 1991; Chicago, Illinois, U.S.</p>
        <br />
        <h4>Info</h4>
        <p>
            Bungie, Inc. is an American video game developer based in Bellevue, Washington. The company was established in May 1991 by Alex Seropian, who later brought in programmer Jason Jones after publishing Jones' game Minotaur: The Labyrinths of Crete. Originally based in Chicago, Illinois, the company concentrated on Macintosh games during its early years and created two successful video game franchises called Marathon and Myth. An offshoot studio, Bungie West, produced Oni, published in 2001 and owned by Take-Two Interactive, which held a 19.9% ownership stake at the time.
            Microsoft acquired Bungie in 2000, and its project Halo: Combat Evolved was repurposed as a launch title for Microsoft's Xbox console. Halo became the Xbox's "killer app", selling millions of copies and spawning the Halo series. On October 5, 2007, Bungie announced that it had split from Microsoft and become a privately held independent company, Bungie LLC, while Microsoft retained ownership of the Halo franchise intellectual property. It signed a ten-year publishing deal with Activision in April 2010. Their first project was the 2014 first-person shooter, Destiny, which was followed by Destiny 2 in 2017. In January 2019, Bungie announced it was ending this partnership, and would take over publishing for Destiny.

        </p>
        <br />
        <h4>Most Recognised Title</h4>
        <p>Halo, Destiny</p>
    </div>
</div>
