
@{
    ViewBag.Title = "Industries343";
}

<h2>343Industries</h2>
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-9">
        <h4>Established</h4>
        <p>2007, Redmond, Washington, U.S.</p>
        <br />
        <h4>Info</h4>
        <p>            
            -343 Industries is an American video game developer located in Redmond, Washington. Named after the Halo character 343 Guilty Spark, the company was established in 2007 by Microsoft Studios to oversee the development of the Halo science fiction media franchise following a split between Microsoft and Bungie. Halo: Combat Evolved Anniversary was the first title released by 343 Industries in which they played a lead development role. The newest release from the company was Halo: Fireteam Raven in 2018. 343 is currently developing Halo Infinite.            
        </p>
        <br />
        <h4>Most Recognised Title</h4>
        <p>Halo 4</p>
    </div>
</div>
